<h2>Users: {{usersCount}}</h2>

{{#link-to "users.create" class="create-btn"}} Add user {{/link-to}}

<ul class="users-listing">
  
  {{#each user in controller}}
	  <li>
	    {{#link-to "user" user}}
	      {{user.name}}
	    {{/link-to}}
	  </li>
	{{/each}}

</ul>

{{outlet}}